body{
margin: 0 auto;
padding: 10px;
background-image: url("images/bg-mobile.svg");
background-size: 100%;
background-position: top ;
background-repeat: no-repeat;
background-color: hsl(257, 40%, 49%);
}

.logo{
transform: scale(0.5);
width: 50%;
transition: 0.5s;
}

.mockup{
display: flex;
flex-direction: column;
align-items: center;
transform: scale(0.8);
margin-top: 20%;
width: 100%;
}

.main-content{
display: flex;
flex-direction: column;
align-items: center;
color: white;
text-align: center;
}

.promo{
text-align: center;
width: 100%;
font-family: open sans;
line-height: 1.6;
font-weight: 400;
opacity: 0.7;
color: white;
}

.main-content h1{
width: 100%;
font-family: poppins;
line-height: 1.2;
font-weight: 600;
}

.register-button{
text-align: center;
}

.register-button button{
padding: 10px 80px 10px 80px;
border-radius: 50px;
border-style: none;
color:  hsl(257, 40%, 49%);
font-family: poppins;
cursor: pointer;
}

.register-button button:hover{
background-color: hsl(300, 69%, 71%);
color: white;
transition: 0.5s;
}

.icons{
display: flex;
justify-content: center;
padding: 60px 0 0 0;
gap: 10px;
}

.icons i{
border: 1px solid white;
padding: 10px 10px 10px 10px;
color:white;
border-radius: 50%;
width: 15px;
height: 15px;
transform: scale(0.9);
}

.icons i:hover{
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
    transition: 0.5s;
}

.attribution { 
font-size: 11px; text-align: center;
color: white; 
margin-top: 20%;
}
.attribution a { 
color:hsl(300, 69%, 71%); 
}

/* Bellow is the code for the desktop view*/
@media only screen and (min-width:1440px){

body{
background-image: url("images/bg-desktop.svg");
}
.logo{
transform: scale(1.6);
margin-left: 15%;
margin-top: 5%;
margin-bottom: -15%;
width: 20%;
background-size: cover;
}
.main-content{
flex-direction: row;
}
 .title{
margin-top: 60%;
font-size: 55px;
 }   
 .register-button button{
margin-left: -60%;
margin-top: 5%;
transform: scale(1.5);
padding: 10px 50px 10px 50px;
 }
 .icons{
margin-left: 60%;
margin-top: 10%;
}
.attribution{
margin-top: 2%;
}
 }
/* a small media querie for tablet view*/
@media only screen and (min-width:768px){
.logo{
margin-bottom: -20%;
}

}

